body {
    background-color: rgb(94, 253, 237);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    background-color: rgb(238, 231, 217);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
    margin-top: 35px;
    padding-bottom: 35px;
}
h1 {
    text-align: center;
    text-transform: uppercase;
}
.input_container {
    text-align: center;
}


button {
    background-color: violet;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 15%;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: lavender;
}
input {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 18px;
    border: solid thin grey;
    border-radius: 5px;
}
li {
    height: 22px;
    width: 88%;
    font-size: 18px;
    margin-top: 5px;
    color: #99A3A4;
    position: relative;
}
    
li:hover {
    color: rgb(240, 185, 240);
}
#terms {
    position: absolute;
    right: 0px;
    width: 20px;
    height: 20px;
}